<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bir.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <title>{{ maqola.title }}</title>
</head>
<body>
    <div class="container">
        <div class="row navbar">
            <div class="col-12 col-md-6 col-sm-6 navbar-icon"><a href="/">Bek's Blog</a></div>
            <div class="col-12 col-md-6 col-sm-6 navbar-link">
                <div><a href="/about/">About</a></div>
                <div><a href="/blog/">Blog</a></div>
                <div><a href="#">Channel</a></div>
            </div>
        </div>
        <div class="row header">
           <h1>{{ maqola.title }}</h1>
        <div class="row">
            <p>{{ maqola.date }}</p>
            <div class="col-12">
                <img src="{{ maqola.photo.url }}" alt="">
                <p>{{ maqola.text }}</p>
            </div>
        </div>
            <div class="row footer">
                <div class="col-12">
                    <p>© 2021 codial.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">


</body>
</html>